<footer class="bg-[#ececec] py-8">
  <div class="max-w-4xl mx-auto flex flex-col items-center">
    
    <!-- Social Icons -->
    <div class="flex space-x-4">
      <!-- GitHub -->
      <a href="https://github.com/akashsonowal" target="_blank" aria-label="GitHub" class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-600 hover:bg-cyan-950 transition-colors">
        <img src="/icons/github.svg" style="filter: invert(1);" alt="GitHub" class="w-4 h-4 " />
      </a>

      <!-- Email -->
      <a href="mailto:work.akashsonowal@gmail.com" aria-label="Email" class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-600 hover:bg-cyan-950 transition-colors">
        <img src="/icons/mail.svg" style="filter: invert(1);" alt="Email" class="w-5 h-5" />
      </a>

      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/akashsonowal/" target="_blank" aria-label="LinkedIn" class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-600 hover:bg-cyan-950 transition-colors">
        <img src="/icons/linkedin.svg" style="filter: invert(1);" alt="LinkedIn" class="w-4 h-4" />
      </a>
    </div>

    <!-- Footer Text -->
    <p class="text-gray-500 text-sm text-center pt-2">
      Akash Sonowal  •  {new Date().getFullYear()}  •  akashsonowal.github.io
    </p>

  </div>
</footer>


